@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

.inter {
  font-family: "Inter", sans-serif;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

h3 {
  font-size: 1.25rem;
  font-weight: 900;
}

h4 {
  font-size: 1rem;
  font-weight: 900;
}

h5 {
  font-size: 0.875rem;
  font-weight: 900;
}

h6 {
  font-size: 0.75rem;
  font-weight: 900;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c2aa94;
  color: #2c2c2c;
}

.foreground-primary {
  color: #2c2c2c;
}

.foreground-secondary {
  color: #3c3c3c;
}

.foreground-accent {
  color: #604d3c;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
